.single-box {
  display: flex;
  justify-content: center;
  height: 470px;
  padding-top: 20px;
  margin-bottom: 28px;
  width: 100%;
}

.new-box-tile {
  display: flex;
  height: 174px;
  width: 270px;
  background-color: var(--additional);
  border-radius: 16px;
  z-index: 0;
  justify-content: center;
  box-shadow: 0.5px 2px 11px var(--secondary);
}

.new-box {
  text-align: center;
  height: 100%;
}

.new-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-img-frame {
  height: 183px;
  width: 260px;
  display: flex;
  position: relative;
  bottom: 16px;
  margin-left: 45px;
  border-color: #eeeeee;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}

.img-box {
  height: 128px;
  width: 210px;
  border-radius: 20px;
  position: relative;
  top: 25px;
  left: 8px;
}

.new-text-box {
  height: 320px;
  width: 240px;
  background: rgba(238,238,238,0.45);
  border-radius: 20px;
  margin-left: 38px;
  position: relative;
  top: -70px;
  border: 1px solid rgba(255,255,255,0.41);
  box-shadow: 1px 1px 11px rgba(108,117,125,0.49);
}

.img {
  border-radius: 20px;
  z-index: 2;
}

.title {
  color: #000000;
  justify-content: start;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

.new-title {
  margin-top: 100px;
}

.new-paragraph {
  color: #000000;
  text-align: left;
  padding-left: 20px;
}

.new-button {
  background-color: var(--accent);
  color: var(--gray-dark);
  border-radius: 20px;
  height: 50px;
  font-size: 18pt;
  padding: 0 15px 0 0;
  width: 50px;
  text-align: end;
  border-color: var(--accent);
  position: absolute;
  right: -24px;
  bottom: -24px;
}

.burger-line.active {
  background-color: #000000;
}

.new-button:hover {
  background-color: var(--main);
  border-color: var(--main);
  color: #000000;
}

#navbar {
  background-color: var(--main);
}

.carousel-indicator {
  height: 10px!important;
  text-indent: 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-size: x-large;
}

.carousel-indicator.active {
  color: var(--main);
}

