.burger-line.top.active {
  transform: translateY(7px) rotate(45deg);
}

.burger-line.middle.active {
  transform: rotate(135deg);
  opacity: 0;
  /*width: 0;*/
}

.burger-line.bottom.active {
  transform: translateY(-7px) rotate(495deg);
  /*width: 0;*/
  /*opacity: 0;*/
}

.burger-icon {
  cursor: pointer;
  max-width: 40px;
}

.burger-line {
  width: 26px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 5px;
  border-radius: 2px;
  transition-duration: .2s;
}

.burger-line.active {
  background-color: #000000;
}

.burger-line.focused {
  box-shadow: #000000 0 0 4px;
}

