.iScrollVerticalScrollbar {
  display: none;
}

.rslider-indicator {
  background-color: rgba(0,0,0,0.25);
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  margin: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.rslider-indicator a {
  display: block;
  width: 100%;
  height: 100%;
}

body #pp-nav li {
  width: 12px;
  height: 12px;
  margin: 12px;
  box-sizing: content-box;
}

body #pp-nav li span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: rgba(0,0,0,0.25);
  border: none;
  top: 0;
  left: 0;
}

body #pp-nav li .active span {
  background-color: var(--accent);
  transform: scale(1.25);
}

.rslider-indicator.active {
  background-color: var(--accent);
  transform: scale(1.25);
}

#pagination {
  height: 100vh;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  width: 5em;
  z-index: 5;
}

.news-block {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 45em;
}

.rslide {
  min-height: 100vh;
  height: initial!important;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: var(--main);
}

.navlink {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 23px;
  color: black;
  transition-timing-function: ease;
  transition-duration: .5s;
  padding: 4px;
  position: relative;
}

.navlink.active:hover {
  color: #000000;
  text-shadow: 0 0 8px rgb(0, 0, 0);
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  padding: 1em 0 1em 0;
  top: 0;
  z-index: 4;
  display: flex;
  background-color: var(--main);
}

.text-box {
  padding: 20px;
}

.nom-image {
  text-align: center;
  margin: 16px;
}

.slide-name {
  text-align: center;
  margin: 0;
  width: inherit;
  color: inherit;
}

.menu-link-box {
  text-align: right;
}

.menu-block {
  position: fixed;
  right: 1em;
}

.menu-tile {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 325px;
  top: 0;
  background-color: #ECECEC;
  z-index: 4;
  display: none;
}

.slide-name-container {
  display: flex;
  width: 17em;
  border-radius: 14px;
  color: rgb(255,255,255);
  z-index: 1;
}

.link-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slide-name-container.active {
  color: #ffffff;
  background-color: rgb(123,210,123);
}

.heading-slider {
  display: flex;
  position: relative;
  z-index: 0;
}

.hat-highliter {
  position: fixed;
  width: 300px;
  height: 36px;
  background-color: var(--additional);
  border-radius: 23px;
}

.heading-slide.far {
  filter: opacity(0);
}

.nominations-heading {
  text-align: center;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.nominations-block {
  padding: 0;
  max-width: 700px;
}

.nomination-link:hover {
  text-decoration: none;
  color: white;
}

.nomination-link {
  color: #565151;
  display: block;
  z-index: 2;
}

.page-view {
  min-height: 100vh;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

:root {
  --main: #3BAC92;
  --accent: #C3FE93;
  --additional: #00CC99;
}

#request {
  background-image: url("../../assets/img/Background/BG_lines_6.svg");
}

#reviews {
  background-image: url("../../assets/img/Background/BG_lines_5.svg");
}

#nominations {
  background-image: url("../../assets/img/Background/BG_lines_4.svg");
}

#news {
  background-image: url("../../assets/img/Background/BG_lines_3.svg");
}

#season-theme {
  background-image: url("../../assets/img/Background/BG3.jpeg");
  background-position: right;
}

.nomination-single-box {
  display: flex;
  justify-content: center;
  height: 221px;
  align-items: flex-end;
  margin-top: 20px;
}

.nomination-box {
  text-align: center;
  height: 100%;
}

.nominations-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.nomination-col {
  height: 100%;
  width: 211px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #ffffff;
  font-family: 'Montserrat';
}

.heading-slide {
  text-align: center;
  color: rgba(64,64,64,0.46);
  transform: scale(.5);
  transition-timing-function: linear;
  position: relative;
  bottom: 8px;
}

.heading-slide.active {
  color: #ffffff;
  transform: scale(1);
  bottom: 0;
}

.heading-slide-h {
  color: inherit;
}

.backheading {
  color: var(--white);
  font-size: 92px;
  opacity: 0.15;
  position: absolute;
  width: 100%;
  font-weight: 200;
  height: inherit;
  white-space: nowrap;
}

.rslide-heading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
}

.rslide-header {
  width: 100%;
  height: 120px;
  margin-top: 107px;
  overflow: hidden;
  position: relative;
}

.rslider {
  max-width: 100%;
}

.nomination-image-box {
  height: 128px;
  width: 128px;
  display: flex;
  position: relative;
  top: 11px;
  justify-content: center;
  align-items: center;
  background-color: rgba(224,254,201,0.43);
  border-radius: 20px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.nomination-icon-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nomination-icon-frame {
  box-shadow: 0px 0px 11px rgb(149,146,146);
  height: 133px;
  width: 145px;
  display: flex;
  position: relative;
  bottom: 16px;
  border-color: var(--accent);
  justify-content: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  transition-duration: .5s;
}

.nomination-box-tile {
  box-shadow: 0px 0px 11px rgb(96,96,96);
  display: flex;
  height: 176px;
  width: 160px;
  background-color: var(--accent);
  border-radius: 16px;
  z-index: 0;
  align-items: flex-end;
  justify-content: center;
  transition-duration: .5s;
}

.nomination-heading {
  color: black;
  height: 47px;
  font-weight: 300;
  transition-duration: .5s;
}

.nomination-box-tile.active {
  height: 214px;
  background-color: var(--additional);
}

.nomination-icon-frame.active {
  border-color: white;
}

.nomination-heading.active {
  color: #ffffff;
}

.rslide-inner {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#log-in-link {
  color: var(--accent);
}

#log-in-link:hover {
  color: var(--accent);
  text-shadow: 0 0 8px var(--accent);
}

#log-in-link.active {
  color: #000000;
}

#log-in-link.active:hover {
  text-shadow: 0 0 4px #000000;
}

.nomination-row {
  margin: 0px;
}

#email-input {
  text-align: left;
  border-radius: 8px;
  height: 100%;
  width: 358px;
  position: relative;
  left: 20px;
  background-color: rgba(255,255,255,0.31);
  padding-left: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  z-index: 1;
  font-style: italic;
  color: white;
  font-family: 'Montserrat';
}

#email-input::placeholder {
  color: #ffffff;
}

.news-tile {
  height: 188px;
  background-color: var(--accent);
  border-radius: 20px;
  position: relative;
  top: 40px;
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0,0,0,0.36) 0 0 8px;
  transition-duration: .5s;
}

.news-content-box {
  background-color: rgba(174,238,223,0.39);
  border-radius: 36px;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  width: 84%;
  padding-top: 64px;
}

.news-image {
  width: 210px;
  overflow: hidden;
  height: 164px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.news-frame-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  left: 0;
}

.news-frame {
  height: 192px;
  width: 83%;
  border-style: solid;
  border-radius: 15px;
  border-color: #ffffff;
  transition-duration: .5s;
  position: relative;
  right: 13px;
  top: 5px;
}

.news-box-heading {
  margin-bottom: 16px;
}

.news-info-bar {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
}

.news-views-count {
  color: #ffffff;
  display: flex;
  height: 100%;
  align-items: center;
}

.views-count {
  margin-left: 10px;
  margin-bottom: 0;
}

.news-more-button {
  position: absolute;
  right: 8px;
  bottom: -12px;
  width: 42px;
  height: 42px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  border-style: none;
  color: black;
  font-size: 20pt;
  z-index: 2;
  box-shadow: #000000 0 0 6px;
  transition-duration: .5s;
}

.news-frame.active {
  height: 100%;
  width: 100%;
  margin: 0;
  right: 0;
  top: 0;
}

.news-single-box {
  position: relative;
  bottom: 21px;
  height: 100%;
}

.news-tile.active {
  width: 84%;
  background-color: rgba(59,172,146,0.7);
}

.news-more-button:hover {
  background-color: var(--main);
  text-decoration: none;
  color: #ffffff;
}

#all-news-button {
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: var(--accent);
  color: #000000;
  height: 45px;
  width: 136px;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(0,0,0,0.5) 0 0 4px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#all-news-button:hover {
  background-color: var(--main);
  color: #ffffff;
  text-decoration: none;
}

.fb-single-box {
  width: 60vw;
  display: block;
  max-width: 500px;
  padding-left: 10px;
  padding-right: 10px;
}

.fb-single-box-inner {
  padding-bottom: 15px;
}

.nom-single-box {
  width: 65px;
  height: 60px;
  box-shadow: 0px 0px 5px rgba(108,117,125,0.52);
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nom-box {
  width: 110px;
  height: 140px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nom-title {
  color: #100f0f;
  text-align: center;
  font-size: 13px;
}

.nom-img {
  opacity: 0.44;
  max-width: 45px;
  max-height: 50px;
}

.nom-box-tile {
  height: 110px;
}

.col.nom-col {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
}

.main-title-box {
  text-align: center;
  background: var(--main);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-tile-box {
  display: flex;
  grid-gap: 0 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 7px rgba(143,143,143,0.51);
}

.main-img-box {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-text-box {
  color: #000000;
  font-size: 17px;
  margin-top: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.main-tile-title-box {
  font-size: 30px;
  margin: 0;
}

.direction-text-box {
  color: #100f0f;
  text-align: center;
}

.nom-page-title-box {
  color: var(--teal);
  font-weight: bold;
  font-size: 33px;
  margin-top: 18px;
  margin-bottom: 30px;
}

.nom-page-main-box {
  padding: 30px;
}

.nom-page-box {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 7px rgba(143,143,143,0.51);
  margin-top: 32px;
  margin-bottom: 60px;
  max-width: 924px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.nom-page-text-box {
  color: #100f0f;
  text-align: left;
  font-size: 19px;
}

.direction-text-box {
  color: #100f0f;
  text-align: center;
}

.nom-button-box {
  justify-content: center;
  height: 60px;
}

.news-button, .news-button:focus {
  background-color: var(--accent);
  color: var(--gray-dark);
  border-radius: 17px;
  height: 100%;
  font-size: 18pt;
  width: 85px;
  border-style: none;
  z-index: 2;
  margin: 0 25px 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .5s;
  cursor: pointer;
}

.news-button:hover {
  color: #ffffff;
  background-color: var(--main);
  text-decoration: none;
  box-shadow: rgba(0,0,0,0.59) 0 0 8px;
}

.navlink.menu-link:hover {
  text-decoration: none;
  color: #000000;
  text-shadow: #000000 0 0 16px;
  letter-spacing: 1px;
}

.fb-element {
  display: flex;
  justify-content: center;
}

.fb-element.fb-header {
  border-style: solid;
  border-radius: 12px;
  border-color: var(--accent);
  border-width: 4px;
  position: relative;
  top: 25px;
  padding: 0 5px 0 5px;
  height: 164px;
}

.fb-element.fb-content {
  position: relative;
  top: 15px;
}

.fb-content-inner {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 14px;
  width: 90%;
  padding: 20px;
  padding-top: 30px;
  font-size: 17px;
  /*height: calc(100vh - 400px - 120px - 107px);*/
  /*min-height: 200px;*/
  /*overflow-y: auto;*/
}

.fb-paragraph {
  /*border-style: solid;*/
  /*border-color: #ffffff;*/
  /*border-width: 2px;*/
  /*border-radius: 14px;*/
  /*width: 90%;*/
  /*padding: 20px;*/
  /*padding-top: 30px;*/
  /*font-size: 17px;*/
  height: calc(100vh - 400px - 120px - 107px);
  min-height: 200px;
  overflow-y: auto;
}

.fb-paragraph::-webkit-scrollbar {
  background-color: #ffffff33;
  width: 2px;
  border-radius: 2px;
  /*padding: 5px;*/
  /*position: relative;*/
  /*right: 27px;*/
}

.fb-paragraph::-webkit-scrollbar-track {
  background-color: #0000;
}

.fb-paragraph::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
  /*border: 5px solid white;*/
  /*margin: 5px;*/
}

.fb-paragraph::-webkit-scrollbar-button {
  display: none;
}

.fb-header-box {
  width: 100%;
  min-width: 199px;
  position: relative;
  top: 10px;
  background: rgba(239,239,239,0.32);
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255,255,255,0.5);
  padding-left: 133px;
  padding-right: 14px;
  display: flex;
}

.fb-header-image {
  width: 132px;
  height: 132px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 29px;
  box-shadow: 5px 8px rgba(195,254,147,0.96);
  position: absolute;
  top: -48px;
  left: -22px;
}

.fb-name-tile {
}

.fb-name {
  text-transform: uppercase;
  font-size: 30px;
}

#to-nominations-button {
  background: var(--accent);
  color: var(--gray-dark);
  height: 50px;
  width: 260px;
  border-radius: 16px;
  border-style: none;
  transition-duration: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#to-nominations-button:hover {
  color: #ffffff;
  background-color: var(--main);
  box-shadow: #000000 0 0 8px;
}

.rslider-pagination, body #pp-nav ul {
  background-color: rgba(255,255,255,0.24);
  box-shadow: rgba(0,0,0,0.36) 0 0 8px;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

.file-button, .file-button:focus {
  justify-self: center;
  background: var(--accent);
  color: var(--gray-dark);
  border-radius: 22px;
  border-style: none;
  transition-duration: .5s;
  align-items: center;
  display: flex;
  padding: 15px;
}

.file-button:hover {
  color: #ffffff;
  background-color: var(--main);
  box-shadow: #000000 0 0 8px;
  text-decoration: none;
}

file-button:hover {
  color: #ffffff;
  background-color: var(--main);
  box-shadow: #000000 0 0 8px;
}

file-button {
  background: var(--accent);
  color: var(--gray-dark);
  height: 50px;
  width: 260px;
  border-radius: 16px;
  border-style: none;
  transition-duration: .5s;
}

.nom-link:hover {
  text-decoration: none;
}

.nom-box.active {
  border-style: solid;
  border-color: var(--teal);
  border-width: 2px;
  opacity: 1;
  border-radius: 25px;
}

.nom-img.active {
  opacity: 1;
}

.navlink:hover {
  text-decoration: none;
  color: var(--additional);
}

.navlink.unclickable {
  opacity: 0.50;
  text-decoration: none!important;
  color: #000000!important;
  cursor: default;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 134px;
  width: inherit;
  background-color: #4a4a4a;
}

.nomination-image.active {
  filter: invert(1) brightness(1.3);
}

.nomination-image {
  transition-duration: .5s;
}

.footer-paragraph {
  height: 50%;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  color: var(--accent);
  transition-duration: .5s;
}

.footer-link:hover {
  color: var(--additional);
}

.social-link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 102, 255);
  border-style: none;
  border-radius: 18px;
  color: #ffffff;
  transition-duration: .5s;
}

.social-link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--main);
}

.footer-row {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: flex-end;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 18px;
}

.main-logo-container.container {
  text-align: center;
  margin-bottom: 96px;
}

@media (max-width: 730px) {
  .main-logo-container.container {
    display: none;
  }
}

.navbar-col {
  display: flex;
  height: 64px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.logo-link {
  background-image: url("../../assets/img/Logo_SI.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: left;
}

.logo-link.main {
  display: none;
}

@media (max-width: 730px) {
  .logo-link.main {
    display: initial;
  }
}

.season-theme-heading {
  text-shadow: 0px 2px 10px rgba(52,58,64,0.61);
  margin-bottom: 12px;
  font-size: 60px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .season-theme-heading {
    font-size: 46px;
  }
}

@media (max-width: 584px) {
  .season-theme-heading {
    font-size: 32px;
  }
}

.news-column {
  max-width: 334px;
}

@media (max-width: 785px) {
  .rslide-inner.main {
    padding-top: 102px;
  }
}

@media (max-width: 785px) {
  #navbar.main {
    background-color: rgba(63,147,124,0.27)!important;
  }
}

.fb-title {
  font-size: 15px;
  color: rgba(255,255,255,0.74);
}

@media (max-width: 730px) {
  .fb-name {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .fb-header-box {
    padding-left: 14px;
    align-items: flex-end;
    padding-bottom: 9px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .fb-header-image {
    top: -97px;
    left: auto;
  }
}

@media (min-width: 580px) {
  .text-season {
    min-width: 450px;
  }
}

.nom-page-title-box.documents {
  font-size: 16pt;
  padding-right: 65px;
  margin-top: 30px;
}

.news-box-heading, .news-box-paragraph {
  margin-left: 22px;
  margin-right: 22px;
  word-wrap: break-word;
}

#news-row-container {
  margin: 0;
  width: inherit;
  padding: 0;
  max-width: none;
}

.news-row {
  justify-content: center;
  display: flex;
  overflow: hidden;
}

@media (max-width: 700px) {
  .rslide-header {
    position: relative;
  }
}

@media (max-height: 700px) {
  #pagination {
    display: none;
  }
}

@media (max-width: 1000px) {
  .fb-single-box.active, .news-column.single-box.active {
    display: block;
  }
}

/* ниже элемент слайдера, создаваемого скриптом fullpage */

.fp-tableCell {
  height: initial!important;
}

@media (max-width: 700px) {
  .article-text.article-content {
    width: 100%;
    margin: 0;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 0;
  }
}

@media (max-height: 450px) {
  #navbar {
    background-color: rgba(59,172,146,0.47);
  }
}

