@font-face {
	font-family: 'Neue Machina';
	src: url(../../assets/fonts/NeueMachina-Light.woff2) format('woff2'),
	url(../../assets/fonts/NeueMachina-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Machina';
	src: url(../../assets/fonts/NeueMachina-Regular.woff2) format('woff2'),
	url(../../assets/fonts/NeueMachina-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Machina';
	src: url(../../assets/fonts/NeueMachina-Ultrabold.woff2) format('woff2'),
	url(../../assets/fonts/NeueMachina-Ultrabold.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}