#nom-row {
  margin-top: 11px;
  background-color: #ffffff;
  margin-bottom: 60px;
  box-shadow: 0px 0px 9px rgba(108,117,125,0.35);
}

.backheading {
  font-family: Montserrat, sans-serif;
  color: #313131;
}

.navbar-col.season-theme {
  height: initial;
  min-width: 34%;
}

@media (max-width: 532px) {
  .navbar-col.season-theme {
    display: none;
  }
}

.rslide-heading {
  color: #313131;
}

.text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#winner-list-button {
  padding: 30px;
  border-radius: 20px;
  border-style: none;
  color: #ffffff;
  font-size: 24px;
  background: var(--additional);
  margin-bottom: 64px;
  text-align: center;
}

#winner-list-button:hover {
  background-color: var(--main);
  text-decoration: none;
}

@media (max-width: 532px) {
  .text-row {
    display: block;
  }
}

